<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034640285854-g2nfodvgsju6jkuvgk98ko7q883abpol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034640285854-g2nfodvgsju6jkuvgk98ko7q883abpol</string>
	<key>API_KEY</key>
	<string>AIzaSyAG49Mm3CWjuMSAncoy4100QDedkTmjIDU</string>
	<key>GCM_SENDER_ID</key>
	<string>1034640285854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A439B5ABK7.com.example.propertymanagement</string>
	<key>PROJECT_ID</key>
	<string>property-management-df2b6</string>
	<key>STORAGE_BUCKET</key>
	<string>property-management-df2b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034640285854:ios:d48632e4ba452b90d91b8f</string>
</dict>
</plist>